<title>{{#if isEs}}Noticias{{/if}}{{#if isCat}}Noticies{{/if}}{{#if isEn}}News{{/if}} • {{post_item.title}}</title>
<h2>{{post_item.title}}</h2>
{{#if post_item.isPhoto}}
  <div>{{{post_item.caption}}}</div>
  <div>
  {{#each post_item.photos}}
    <a href="{{original_size.url}}" target='_blank'><img class='img-responsive' src={{picked_size.url}}></a>
  {{/each}}
  </div>
{{/if}}
{{#if post_item.isText}}
  <div>{{{post_item.body}}}</div>
{{/if}}
<hr>
<div><em>{{post_item.date}}</em></div>
  
<hr>

<a href={{#if isEs}}"/es/noticias/"{{/if}}{{#if isCat}}"/cat/noticies/"{{/if}}{{#if isEn}}"/en/news/"{{/if}}>
  {{#if isEs}}Volver a noticias{{/if}}{{#if isCat}}Tornar a les notícies{{/if}}{{#if isEn}}Back to news{{/if}}
</em></a>

  
