<title>Noticias • {{post_item.title}}</title>
<div class="large-12 row">
  <div class="large-12 row page-content">
    <div class="large-3 columns news-title"> <h4 class="underline-title"><a href="/es/noticias">Noticias</a></h4>
    </div>

    <div class="large-6 columns news-item">
      <h5>{{post_item.title}}</h5>
      <h6><em>{{post_item.date}}</em> | Fundación Babel Punto de Encuentro</h6>

      {{#if post_item.isPhoto}}
        <div>{{{post_item.caption}}}</div>
        {{#each post_item.photos}}
          <div>
            <a href="{{original_size.url}}" target='_blank'><img class='img-responsive' src={{picked_size.url}}></a>
          </div>
        {{/each}}
      {{/if}}

      {{#if post_item.isVideo}}
        <div>
          <video width="400"  controls>
            <source src="{{post_item.video_url}}" type="video/mp4">
              Your browser does not support the video tag.
          </video>
        </div>
        <div>{{{post_item.caption}}}</div>

      {{/if}}

      {{#if post_item.isText}}
        <div>{{{post_item.body}}}</div>
      {{/if}}
      <br>
      <h5 class="more-content">
        <a href="/es/noticias/">Volver a noticias</a>
      </h5>
    </div>
    {{> common/side-menu}}
  </div>
</div>
<div class="large-12 row">
  {{> es/common/otros_proyectos}}
</div>
