<title>{{#if isEs}}Noticias{{/if}}{{#if isCat}}Noticies{{/if}}{{#if isEn}}News{{/if}} • {{post_item.title}}</title>
<h2>{{post_item.title}}</h2>
{{#if post_item.isPhoto}}
  <div>{{{post_item.caption}}}</div>
  <div>
  {{#each post_item.photos}}
    <img class='img-responsive' src={{original_size.url}}>
  {{/each}}
  </div>
{{/if}}
{{#if post_item.isText}}
  <div>{{{post_item.body}}}</div>
{{/if}}
<hr>
<div><em>{{post_item.date}}</em></div>
  
<hr>

<a href={{#if isEs}}"/es/noticias/"{{/if}}{{#if isCat}}"/cat/noticies/"{{/if}}{{#if isEn}}"/en/news/"{{/if}}>
  {{#if isEs}}volver a noticias{{/if}}{{#if isCat}} noticies{{/if}}{{#if isEn}} back to news{{/if}}
</em></a>

  
