
<hr>
<h2><a href={{#if isEs}}"/es/n/{{id}}"{{/if}}{{#if isCat}}"/cat/n/{{id}}"{{/if}}{{#if isEn}}"/en/n/{{id}}"{{/if}}>{{title}}</a></h2>
{{#if isPhoto}}
  <div>{{{caption}}}</div>
  <div>
  {{#each photos}}
    <img class='img-responsive' src={{original_size.url}}>
  {{/each}}
  </div>
{{/if}}
{{#if isText}}
  <div>{{{body}}}</div>
{{/if}}
<hr>
<a href={{#if isEs}}"/es/n/{{id}}"{{/if}}{{#if isCat}}"/cat/n/{{id}}"{{/if}}{{#if isEn}}"/en/n/{{id}}"{{/if}}> <em>
  {{date}}</em></a>
  


  
