{{#if isPhoto}}
  <h2>{{title}}</h2>
  <div>{{{caption}}}</div>
  <div>
  {{#each photos}}
    <img class='img-responsive' src={{original_size.url}}>
  {{/each}}
  </div>
{{/if}}
{{#if isText}}
  <h2>{{title}}</h2>
  <div>{{{body}}}</div>
{{/if}}
<hr>
  <em>{{#if isEs}}publicado: {{/if}}{{#if isCat}}publicat: {{/if}}{{#if isEn}}published: {{/if}}
  {{date}}</em>
<hr>


  
