<div class="news-item">
  {{#if isPhoto}}
  <div class="noticias">
    <div class="element news-images">
      <div class='img-div'>
        {{#each photos}}
        <div>
          <a href="{{original_size.url}}"target='_blank'>
            <img class='img-responsive' src={{picked_size.url}}>
          </a>
        </div>
        {{/each}}
      </div>
      <div></div>
      <div class="description-photos">
        <h5><a href='/{{language}}/n/{{id}}'>{{title}}</a></h5>
        <div><em>{{date}}</em></div>
        <div>{{{caption_summary}}}</div>
      </div>
    </div>
    <hr>
  </div>
  {{/if}}
  {{#if isText}}
    <div class="noticias">
      <div class="element-text">
        <div class="description-text">
        <h5><a href='/{{language}}/n/{{id}}'>{{title}}</a></h5>

          <div><em>{{date}}</em></div>
          <div class="project-list-text">{{{body}}}</div>
        </div>
      </div>
      <hr>
    </div>
  {{/if}}
  {{#if isVideo}}
    <div class="noticias">
      <div class="element-text">
        <div class="description-text">
          <h5><a href='/{{language}}/n/{{id}}'>{{title}}</a></h5>
          <div><em>{{date}}</em></div>
          <div>
            <br>
            <div>
              <video width="400"  controls>
                <source src="{{video_url}}" type="video/mp4">
                  Your browser does not support the video tag.
              </video>
            </div>
            <br>
            <div class="project-list-text">
              {{{caption}}}
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  {{/if}}
</div>
