<div>
  {{#if isPhoto}}
  <div class="noticias">
    <div class="element">
      <div class='img-div'>
        {{#each photos}}          
        <div>
          <a href="{{original_size.url}}"target='_blank'>
            <img class='img-responsive' src={{picked_size.url}}>
          </a>
        </div>
        {{/each}}
      </div>
      <div></div>
      <div class="description-photos">
        <h5><a href='/{{language}}/n/{{id}}'>{{title}}</a></h5>
        <div><em>{{date}}</em></div>
        <div>{{{caption_summary}}}</div>
      </div>
    </div>
    <!-- <h4 class="underline-grey"> </h4> -->
    <hr>
  </div>
  {{/if}}    
  {{#if isText}}
    <div class="noticias">
      <div class="element-text">
        <div class="description-text">
        <h5><a href='/{{language}}/n/{{id}}'>{{title}}</a></h5>

          <div><em>{{date}}</em></div>
          <div class="project-list-text">{{{body}}}</div>
        </div>
      </div>
      <hr>
    </div>
  {{/if}}
</div>
    

  
