{{#if isPhoto}}
<h1> Photo <h1>
  <h2>{{title}}</h2>
  <div>{{{caption}}}</div>
  {{#each photos}}
    <h3>ha fotos h3 title</h3>
    <div><img class='img-responsive' src={{original_size.url}}></div>
  {{/each}}
  
{{/if}}
{{#if isText}}
<h1> Text <h1>
  <h2>{{title}}</h2>
  <div>{{{body}}}</div>
  <hr>
{{/if}}
  <em>{{date}} {{timestamp}}</em>
<hr>


  
